/* --- ESTILO DE LA CABECERA --- */
.cabecera {
    background-color: #f5f2e9;
    border-bottom: 2px solid #bdbdbd;
    padding: 12px 0;
}

.contenedor-cabecera {
    width: 90%;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 55px;
    width: 200px;
}

.menu-navegacion ul {
    list-style: none; 
    display: flex;    
}

.menu-navegacion li {
    margin-left: 25px; 
}

.menu-navegacion a {
    text-decoration: none; 
    color: #333333;        
    font-weight: bold;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}


/* --- FORMULARIO --- */
h2 {
    text-align: left;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #2f4a5a;
    font-weight: 600;
}

.bloque-formulario {
    display: flex;
    justify-content:space-between ;
}

form {
    width: 500px;
    padding: 50px;
    background: #a9c0d3;
    border-radius: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.campo, .prod {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
    color: #2f4a5a;
}

.nombre-email,
select,
textarea {
    width: 100%;
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #8fa4b3;
    background-color: #f4f4f2;
    font-size: 14px;
}

.nombre-email:hover,
select:hover,
textarea:hover {
    border-color: #6f95b3;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #4d84b6;
    background: white;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.botones {
    margin-top: 50px;
    text-align: center;
}

#boton-reset {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #b5b5b5;
    background: #e6e6e6;
    cursor: pointer;
}

#boton-enviar {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #5a94c9, #4d84b6);
    color: white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.img {
    width: 700px;
    height: 1072px;
    border-radius: 15px;
    margin-right: 20px;
}

/* Pie de pagina */
footer {
    background-color: #F9F7F2;
    border-top: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.contenedor-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;          
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;     
}

.enlaces {
    margin-left: 10px;
    text-decoration: none underline;
    color: #757272;
}


.footer-texto, .footer-logo, .footer-redes {
    flex: 1;
}

.footer-texto {
    font-size: 12px;
    color: #333;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    height: 50px;
}

.footer-redes {
    text-align: right;
}

.footer-redes img{
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.footer-redes a {
    font-size: 0px;
    margin-left: 20px;
    color: #007bff;
    margin-right: 10px;
}