/* Eliminamos los espacios que el navegador pone por defecto */
body, html {
    margin: 0;
    padding: 0;
}

/* Logo ocupa toda la pantalla */
.pantalla-logo {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}

.pantalla-logo img {
     /* Ajusta el tamaño de tu logo */
    width: 700px; 
}

/* Texto debajo del logo */
.indicador {
    font-size: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    color: #666;
}

/* Sección del vídeo justo debajo */
.contenedor-video {
    width: 100%;
    height: 100vh;
}

.contenedor-video iframe {
    width: 100%;
    height: 100%;
    border: none;
}
